{% extends "layout.html"%}
{% block content %}
<form action="/validate" method="post">
<table>
<tr>
  <td>Username:</td><td><input type="text" name="user" value = "{{user}}"/></td><td>
    {% if usererror %}
{{ usererror }}
    {% endif %}
  </td>
</tr>

<tr>
  <td>Email:</td><td><input type="text" name="email" value = "{{email}}"/></td>
  <td>
    {% if emailerror %}
        {{ emailerror }}
        {% endif %}
      </td>
</tr>
<tr>
<td>Password:</td><td><input type="password" name="password"/></td><td>
{% if passerror %}
    {{ passerror }}
    {% endif %}
</td>
</tr>
<tr>
<td>Verify Password:</td><td><input type="password" name="vpass"/></td>
<td>
{% if vpasserror %}
    {{ vpasserror }}
    {% endif %}
</td>
</tr>
<tr>
<td></td><td>
<input type="submit" value="Submit"/>
</td>
</table>

</form>
{% endblock %}
